<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exjobb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.exjobb.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.exjobb.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.exjobb.Login2Activity"
            android:label="@string/title_activity_login2" >
        </activity>
        <activity
            android:name="com.example.exjobb.DrugsActivity"
            android:label="@string/title_activity_drugs" >
        </activity>
        <activity
            android:name="com.example.exjobb.DBAdapter"
            android:label="@string/title_activity_dbadapter" >
        </activity>
        <activity
            android:name="com.example.exjobb.PharmaciesActivity"
            android:label="@string/title_activity_pharmacies" >
        </activity>
        <activity
            android:name="com.example.exjobb.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
    </application>

</manifest>